/******************styling the main div***************************/
#main{
	width:100%;
	height:1000px;
}
/***********************styling  navigation*************************/
#navigation{
	width:100%;
	height:10%;
	background-color:#000000;
	position: fixed;
}
#logo{
	padding:0% 20% 0% 50%;
}
#navigation li{
	list-style-type: none;
	display:inline-block;
	text-decoration: none;
    color: #ffffff;width: 10%;
}
#home{
	padding-top:10%;
	height:60%;
	background-color: blue;
}
#about{
	height:10%;
	background-color: yellow;
}
#program{
	height:10%;
	background-color: red;
}
#application{
	height:10%;
	background-color: blue;
}
#social_media{
	height:10%;
	background-color: red;
}
#footer{
	height:10%;
	background-color: blue;
}