#centre-panel{
width:500px;
height:500px;
background-color:#000000;
position:relative;
margin:0px auto;
margin-top:100px;
z-index:-6;
margin-bottom:100px;
background-image:url(../images/food1.png);
background-position:center;

}

.panel{
  width:190px;
  height:190px;
  position:absolute;
  background-color:rgb(233,242,245);
  z-index:-1;
  padding:10px;
  opacity:0.9;
}

#panel-one{
  top:-50px;
  left:-50px;
}

#panel-two{
  top:-50px;
  right:-50px;
  overflow:auto;
}

#panel-two p{padding:10px;}

#panel-three{
  bottom:-50px;
  right:-50px;
}

#panel-four{
  bottom:-50px;
  left:-50px;
  overflow:auto;

}

html{
 background-image:url(../images/image7.jpg);
}



